<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳細</title>
<link th:href="@{/css/commons.css}" rel="stylesheet">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<body>

<th:block th:insert="common/header"></th:block>

  <hr>

  <div class="update">
    <div class="form-body">
      <div class="img_block">
        <img src="../static/images/マッキー.png" class="product-img"><br>
      </div>
      <form action="delete" method="post">
        <fieldset class="label-130 product_block">
          <p class="error">エラーメッセージ</p>
          <div>
            <label>商品ID</label>
            <input type="text" name="productId" th:value="${product.product_id}" readonly class="base-text">
          </div>
          <div>
            <label>商品名</label>
            <input type="text" name="name" th:value="${product.name}" readonly class="base-text">
          </div>
          <div>
            <label>単価</label>
            <input type="text" name="price" th:value="${product.price}" readonly class="base-text">
          </div>
          <div>
            <label>カテゴリ</label>
            <input type="text" name="categoryId" th:value="${product.category_name}" readonly class="base-text">
          </div>
          <div>
            <label>商品説明</label>
            <textarea name="description" readonly class="base-text"  style="background-color: rgb(209, 209, 209);">
            [[ ${product.description} ]]
            </textarea>
          </div>
        </fieldset>
        <div>
          <div class="btns" th:if="${session.user.role} == 1">
            <input type="button" class="basic-btn" data-toggle="modal" data-target="#deleteModal" value="削除">
            <a th:href="@{/updateInput(id=${product.id})}"><input type="button" value="編集" class="basic-btn"></a>
            <a th:href="@{/menu}"><input type="button"  value="戻る" class="cancel-btn"></a>
          </div>
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4><div class="modal-title" id="myModalLabel">削除確認画面</div></h4>
                </div>
                <div class="modal-body">
                  <label>データを削除しますか？</label>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                  <a th:href="'delete/' + ${product.product_id}"><button type="button" class="btn btn-danger">削除</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>