<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新</title>
<link th:href="@{/css/commons.css}" rel="stylesheet">
</head>
<body>

<th:block th:insert="common/header"></th:block>

  <hr>

  <div class="insert">
    <div class="form-body">
      <p class="error">エラーメッセージ</p>

      <form action="update" method="post" th:object="${Products}">
        <fieldset class="label-130">
          <div>
            <label>商品ID</label>
            <input type="text"  th:field="*{product_id}" class="base-text">
          </div>
          <div>
            <label>商品名</label>
            <input type="text"  th:field="*{name}" class="base-text">
          </div>
          <div>
            <label>単価</label>
            <input type="text" th:field="*{price}" class="base-text">
          </div>
          <div>
            <label>カテゴリ</label>
            <select  class="base-text" th:field="*{category_name}">
              <option
                      th:each="category : ${categories}"
                      th:value="${category.id}"
                      th:text="${category.name}"
                      th:selected="${category.id}"                          >
              </option>
            </select>
          </div>
          <div>
            <label>商品説明</label>
            <textarea   class="base-text" th:field="*{description}" style="background-color: rgb(209, 209, 209);">
            [[ ${product.description} ]]
            </textarea>
          </div>
          <div>
            <label>画像</label>
            <input type="file" name="file">
            <span class="error">エラーメッセージ</span>
          </div>
        </fieldset>
          <div class="btns">
            <button type="submit" class="basic-btn">更新</button>
            <input type="button" onclick="location.href='./menu.html'" value="メニューに戻る" class="cancel-btn">
          </div>
          <div id="modal">
            <p class="modal-message">更新しますか？</p>
            <div class="btns">
              <button type="button" id="update-btn" class="basic-btn">更新</button>
              <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
  <script src="./js/commons.js"></script>
  <script>
    'use strict'
    document.getElementById('update-btn').addEventListener('click', () => {
      location.href = './menu.html'
    })
  </script>
</body>
</html>